.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
  }